.app {
  background: rgba(250, 249, 249, 0.924);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.253);
  padding: 1em;
  border-radius: 15px;
  height: 30em;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
