.chat {
  display: flex;
  flex-direction: column;
}
.displayMsg {
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 22em;
  width: 26em;
  margin-right: 1.5em;
}
.display {
  display: flex;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}
